/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importo archivos secundarios
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "contenedores/header";
@import "contenedores/viandasdia";
@import "contenedores/masinfo";
@import "contenedores/registro";
@import "contenedores/nosotros";


/*main general*/
main {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

/*barra busqueda nueva*/
.search-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;

    .search-input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-button {
        background-color: $color-principal;
        color: white;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .lupa {
        height: 23px;
    }
}


/*slide imagenes
img{
    max-width: 100%;
}/*/
.slide-all {
    position: relative;
    max-width: 640px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    .item-slide {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%;
    }
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    .pagination-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid white;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 10px;
        text-align: center;
        transition: all 300ms;

        &:hover {
            transform: scale(2);
        }

        img {
            display: inline-block;
            max-width: none;
            height: 100%;
            transform: scale(1);
            opacity: 0;
            transition: all 300ms;

            &:hover {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}


input[id="1"]:checked~.slide {
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked~.pagination .pagination-item[for="1"] {
    background: #fff;
}

input[id="2"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked~.pagination .pagination-item[for="2"] {
    background: #fff;
}

input[id="3"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked~.pagination .pagination-item[for="3"] {
    background: #fff;
}

input[id="4"]:checked~.slide {
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked~.pagination .pagination-item[for="4"] {
    background: #fff;
}

@keyframes autoplay {
    25% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    50% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    75% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }

    100% {
        transform: translate3d(calc(-100% * 3), 0, 0);
    }
}

/*fin*/
/*
.main__index{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}*/
/*
span{
    ul{
        li{
            list-style: none;
            background-color: $color-principal;
            display: inline-block;
            font-family: 'lato';
            border-radius: 22px;
            padding: 0.2rem;
        }
    }
}
*/

/*viandas diarias y congeladas - index*/
.container-items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    .item-index {
        border-radius: 10px;
        background-color: #fff;

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
        }

        .img-index {
            width: 100%;
            height: 230px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
            transition: all .5s;
        }

        figure {
            overflow: hidden;
        }

        :hover .img-index {
            transform: scale(1.2);
        }

        .info-product {
            padding: 5px 31px;
            line-height: 2;
            display: flex;
            flex-direction: column;

            .ingresar {
                text-decoration: none;
                text-align: center;
                border: none;
                background: none;
                background-color: $color-boton;
                color: #fff;
                cursor: pointer;
            }

            h1 {
                font-family: 'poppins';
                text-align: center;

                a {
                    text-decoration: transparent;
                    color: black;
                }
            }
        }
    }
}

/* Escritorio grande */
@media (min-width: 1200px) {
    .container-items {
        display: flex;
        /* Cambio a flexbox solo en esta media query */
        flex-direction: row;
        gap: 5%;
        /* Ajustar el espacio entre los items */
        margin-left: 5%;
        margin-right: 5%;

        .item-index {
            flex: 1 0 calc(50% - 20px);
            /* Ocupar el 50% del espacio disponible y restar el espacio entre los items */
            max-width: calc(50% - 20px);
            /* Establecer el ancho máximo */
        }
    }
}

/* Escritorio */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container-items {
        display: flex;
        flex-direction: row;
        gap: 4%;
        margin-left: 4%;
        margin-right: 4%;

        .item-index {
            flex: 1 0 calc(50% - 15px);
            /* Ocupar el 50% del espacio disponible y restar el espacio entre los items */
            max-width: calc(50% - 15px);
            /* Establecer el ancho máximo */
        }
    }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container-items {
        display: flex;
        flex-direction: row;
        gap: 3%;
        margin-left: 3%;
        margin-right: 3%;

        .item-index {
            flex: 1 0 calc(50% - 5px);
            /* Ocupar el 50% del espacio disponible y restar el espacio entre los items */
            max-width: calc(50% - 5px);
            /* Establecer el ancho máximo */
        }
    }
}