.main-info {
    padding: initial;

    .mas-info {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        align-items: center;

        .lista-info {
            box-sizing: border-box;
            text-align: center;
            padding-left: initial;

            .item-info {
                list-style-type: none;
                width: 300px;
                height: 485px;
                border-radius: 10px;
                background-image: url("../img/menu-ketoo.png");
                background-size: cover;
                background-position: center;

                .titulo-box {
                    font-size: 2rem;
                    color: #2F6178;
                    font-weight: 600;
                }

                .data-masinfo {
                    display: flex;
                    align-items: baseline;
                    padding: 5px 35px 5px;

                    .estrellas {
                        height: 7%;
                        width: 7%;
                    }

                    h2 {
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        font-family: 'poppins';
                        font-size: 24px;
                    }
                }

                .texto-masinfo {
                    font-size: 18px;
                    padding: 5px 0px 4px;
                }

                .peso-total {
                    padding: 5px 15px 10px;
                    font-size: 30px;
                }

                .contenedor-califica {
                    display: flex;
                    justify-content: center;

                    .califica {
                        display: flex;
                        align-items: center;
                        border-color: #c0c0c0;
                        border-radius: 44px;
                        border-style: solid;
                        border-width: 2px;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 26px;
                        padding: 8px 16px 6px;
                        text-align: center;
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: rgba(255, 153, 0, 0.6);
                        }

                        .estrella-califica {
                            width: 25px;
                        }
                    }
                }
            }
        }

        .contenedor-descripcion {
            margin: 0 5%;

            .contenedor-logo-y-titulo {
                display: flex;
                align-items: center;

                .mar-viandas-logo {
                    width: 100px;
                }

                .mar-viandas-titulo {
                    font-size: 35px;
                    text-align: center;
                }

                .parrafo-mar-viandas {
                    margin-top: 3%;
                    font-size: 12px;
                }
            }
        }
    }
}

/* Escritorio grande */
@media (min-width: 1200px) {
    .main-info {
        .mas-info {
            margin-top: 2%;
            flex-direction: row;
            padding: 1.5rem;
            .contenedor-descripcion {
                .contenedor-logo-y-titulo {
                    margin-bottom: 2%;

                    .mar-viandas-logo {
                        margin-right: 2%;
                    }

                    .mar-viandas-titulo {
                        font-size: 50px;
                    }

                    .parrafo-mar-viandas {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

/* Escritorio */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-info {
        .mas-info {
            flex-direction: row;
            margin-top: 1.5%;
            padding: 1.5rem;
            .contenedor-descripcion {
                .contenedor-logo-y-titulo {
                    margin-bottom: 1.5%;

                    .mar-viandas-logo {
                        margin-right: 1.5%;
                    }

                    .mar-viandas-titulo {
                        font-size: 45px;
                    }

                    .parrafo-mar-viandas {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-info {
        .mas-info {
            flex-direction: row;
            margin-top: 1%;
            padding: 1.5rem;
            .contenedor-descripcion {
                .contenedor-logo-y-titulo {
                    margin-bottom: 1%;

                    .mar-viandas-logo {
                        margin-right: 1%;
                    }

                    .mar-viandas-titulo {
                        font-size: 40px;
                    }

                    .parrafo-mar-viandas {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}