.mas-info{
    display: flex;
    .lista-info{
        box-sizing: border-box;
        text-align: center;
        .item-info{    
            list-style-type: none;
            width: 345px;
            height: 375px;
            border-radius: 10px;
            background-image: url("../img/menu-ketoo.png");
            background-size: cover;
            background-position: center;
            .titulo-box{
                font-size: 2rem;
                color: #2F6178;
                font-weight: 600;
            }
            .data-masinfo{
                display: flex;
                align-items: baseline;
                padding: 5px 35px 5px;
                .estrellas{
                    height: 7%;
                    width: 7%;
                }
                h2{
                    text-align: center;
                    text-decoration: none;
                    color: black;
                    font-family: 'poppins';
                    font-size: 24px;
                }
             }
            .texto-masinfo{
                font-size: 18px;
                padding: 5px 0px 4px;
            }
            .peso-total{
                padding: 5px 15px 10px;
                font-size: 30px;
            }
            .contenedor-califica{
                display: flex;
                justify-content: center;
                .califica{
                    display: flex;
                    align-items: center;
                    border-color:#c0c0c0;
                    border-radius:44px;
                    border-style:solid;
                    border-width: 2px;
                    font-size:18px;
                    font-weight:700;
                    line-height:26px;
                    padding:8px 16px 6px;
                    text-align:center;
                    transition: background-color 0.3s;
                    &:hover{
                        background-color: rgba(255, 153, 0, 0.6);
                    }
                    .estrella-califica{
                        width: 25px;
                    }
                }
            }
        }
    }
    .contenedor-descripcion{
        margin: 0 5%;
        
        .mar-viandas-titulo{
            font-size: 50px;
            text-align: center;
        }
        .mar-viandas-logo{
            width: 100px;
        }
        .parrafo-mar-viandas{
            margin-top: 3%;
        }
    }
}


