.nosotros {
    .container__nosotros {
        display: grid;
        align-content: center;
        text-align: center;

        .titulo__nosotros {
            font-size: 3rem;
        }

        .nosotros-img-desc {
            .nosotros__imgintro {
                margin-top: $margen-texto;

                .nosotrosimg {
                    @include medidasgif(100%, auto);
                }

            }

            .nosotros__texto {
                margin-top: $margen-texto;
            }
        }

        .container__funciona {
            .titulo__comofunciona {
                font-size: 2rem;
                margin-top: 5px;
            }

            .funciona-img-desc {
                .funciona__imgintro {
                    margin-top: $margen-texto;

                    .funcionaimg {
                        @include medidasgif(100%, auto);
                    }
                }

                .funciona__texto {
                    margin-top: $margen-texto;
                }
            }
        }
    }
}

/* Escritorio grande */
@media (min-width: 1200px){
    .nosotros {
        .container__nosotros {
            .titulo__nosotros{
                font-size: 5rem;
            }
            .nosotros-img-desc {
                display: flex;
                align-items: center;
                .nosotros__texto {
                    font-size: $tamanioletra + 9px;
                    @include medidastexto;
                }
            }
            .container__funciona{
                margin-top: 2%;
                .titulo__comofunciona{
                    font-size: 3rem;
                }
                .funciona-img-desc{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    .funciona__texto{
                        font-size: $tamanioletra + 9px;
                        @include medidastexto;
                    }
                }
            }
        }
    }
}

/* Escritorio */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .nosotros {
        .container__nosotros {

            .nosotros-img-desc {
                display: flex;

                .nosotros__texto {
                    font-size: $tamanioletra + 1px;
                    @include medidastexto;
                }
            }
            .container__funciona{
                .funciona-img-desc{
                    display: flex;
                    flex-direction: row-reverse;
                    .funciona__texto{
                        font-size: $tamanioletra + 1px;
                        @include medidastexto;
                    }
                }
            }
        }
    }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .nosotros {
        .container__nosotros {

            .nosotros-img-desc {
                display: flex;

                .nosotros__texto {
                    font-size: $tamanioletra;
                }
            }
            .container__funciona{
                .funciona-img-desc{
                    display: flex;
                    flex-direction: row-reverse;
                    .funciona__texto{
                        font-size: $tamanioletra;
                    }
                }
            }
        }
    }
}