.main-registrocompra {
    background-image: url("../img/fondo-gral.png");
    background-size: cover;
    background-position: center;
    height: 800px;

    .contenedor {
        .formulario {
            background-color: rgba(255, 255, 255, 0.9);
            flex-basis: 50%;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            width: 100%;
            padding: 10px;
            font-size: 16px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

            .title-registrocompra {
                font-size: 24px;
                margin-bottom: 20px;
                text-align: center;
            }

            form {
                label {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                input[type="text"],
                input[type="email"],
                [type="password"] {
                    width: 100%;
                    padding: 10px;
                    font-size: 16px;
                    margin-bottom: 20px;
                    border-radius: 5px;
                    border: none;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                }

                input[type="submit"] {
                    @extend %estilosboton;
                    background-color: transparent;
                    color: #2f6178;
                    font-size: 16px;
                    transition: all 0.3s ease;
                    border-color: #2f6178;
                }

                input[type="submit"]:hover {
                    background-color: $color-principal;
                    color: white;
                }
            }
        }
    }
}