//mixin con parametros
@mixin medidasgif($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin marginleftybottom($left,$bottom){
    margin-left: $left;
    margin-bottom: $bottom;
}

//mixin sin parametros

@mixin medidastexto{
    margin-left: 1%;
    margin-right: 1%;
}