//variables generales.
$color-principal:rgba(255, 153, 0, 0.6);
$color-background: #ebebeb;
$color-boton: #30A2FF;
//Variables Catalogo
$item-viandasbkgd: #fff;
$btn-añadircarrito:#fff;
//variables nosotros
$margen-texto: 1rem;
$tamanioletra: 11px;